.Home_container {
  padding-bottom: 30px;
}

.Results_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Home-search_field {
  width: 400px;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

.navigation_button_container {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
.navigation_button {
  background-color: unset; /* Green */
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navigation_button_disabled {
  background-color: unset; /* Green */
  border: none;
  color: grey;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: no-drop;
}